root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.css]
indent_style = tab

[vendor/javascript/*.js]
indent_style = tab

[vendor/assets/stylesheets/tom-select.css]
indent_style = space
indent_size = 2
