---
language: ruby
services:
  - mysql
env:
  global:
    - DATABASE_URL=mysql2://root:@localhost/lobsters_dev
    - RAILS_ENV=test
before_script:
  - ./bin/rails db:create
  - ./bin/rails db:schema:load
script:
  - bundle exec rspec
  - bundle exec rubocop
  - bundle exec ruumba
