*/20 * * * * cd /path/to/lobsters && env RAILS_ENV=production bundle19 exec rake ts:index > /dev/null
*/5 * * * *  cd /path/to/lobsters && env RAILS_ENV=production sh -c 'bundle19 exec ruby script/mail_new_activity; bundle19 exec ruby script/post_to_twitter'
