---
http_interactions:
- request:
    method: get
    uri: https://keybase.io/_/api/1.0/user/pic_url.json?username=cryptojim
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4d-JswfwKfhQJbTftnpUPSRYMA4ubo"
    body:
      encoding: UTF-8
      string: '{"status":{"code":205,"desc":"cryptojim: user not found","name":"NOT_FOUND"}}'
  recorded_at: Thu, 11 Jun 2020 22:28:50 GMT
recorded_with: VCR 6.0.0
