<%# locals: (comment:, show_tree_lines: true) -%>
<li class="comments_subtree">
  <%= render "comments/comment", :comment => comment, :show_tree_lines => show_tree_lines %>
  <ol class="comments"></ol>
</li>
