<%# locals: (comment:, show_tree_lines: true) -%>
<li class="comments_subtree">
  <input id="comment_folder_<%= comment.short_id %>"
class="comment_folder_button" type="checkbox">

  <div class="comments_gutter">
    <label for="comment_folder_<%= comment.short_id %>"
  class="comment_folder"></label>

    <% if !comment.is_gone? %>
        <%= link_to comment.score_for_user(@user), (@user ? '': login_path), :class => "upvoter" %>
    <% end %>

    <% if show_tree_lines %>
      <div class="comment_parent_tree_line"></div>
    <% end %>
  </div>

  <div class="comments_main">
    <%= render "comments/comment", :comment => comment, :show_tree_lines => show_tree_lines %>
    <ol class="comments"></ol>
  </div>
</li>
