<%# locals: () -%>
<div class="comment comment_form_container flash-notice">
  Max reply depth reached.
  Perhaps blog about this and submit it?

  <br><br>

  (We have a max reply depth because at this depth, previous discussions have always gone off the rails in topic or tone.)
</div>
