<div class="comment comment_form_container flash-notice">
  <p>
  Max reply depth reached.
  Congratulations, you have volunteered to blog about this.
  Don't forget to come back and submit your post.
  </p>

  <p>
  (We have a max reply depth for [technical reasons](https://github.com/search?q=repo%3Alobsters%2Flobsters+COP_LENGTH&type=code).
  But also at this depth discussions have always gone off the rails in topic or
  tone.)
  </p>
</div>
