<%# locals: () -%>
<div class="comment comment_form_container flash-notice">
  Max reply depth reached.
  Perhaps blog about this and submit it?

  <br><br>

  (We have a max reply depth for <a href="https://github.com/search?q=repo%3Alobsters%2Flobsters+COP_LENGTH&type=code">technical reasons</a>.
  But also, at this depth, previous discussions have always gone off the rails
  in topic or tone.)
</div>
