<%= render partial: @above if @above %>

<ol class="comments comments1">
  <% @comments.each do |comment| %>
    <li><%= render "comments/comment", :comment => comment,
      :show_story => true %>
      <ol class="comments"></ol>
    </li>
  <% end %>
</ol>

<div class="morelink">
  <% if @comments.any? %>
    <% if @page && @page > 1 %>
      <%= link_to raw("&lt;&lt; Page #{@page - 1}"), { controller: controller_name, action: action_name, page: @page - 1 } %>
    <% end %>

    <% if @page && @page > 1 %>
      |
    <% end %>
    <%= link_to raw("Page #{@page + 1} &gt;&gt;"), { controller: controller_name, action: action_name, page: @page + 1 } %>
  <% end %>
</div>
