<%= render partial: @above if @above %>

<% already_printed_newest_line = false %>
<ol class="comments comments1">
  <% @comments.each do |comment| %>
    <% if action_name == "index" && 
       !already_printed_newest_line && 
       @last_read_timestamp &&
       @last_read_timestamp.after?(comment.created_at) %>
       <div class="last_read_newest">Last Read</div>
       <% already_printed_newest_line = true %>
    <% end %>
    <li><%= render "comments/comment", :comment => comment, :vote_hydrator => @vote_hydrator,
      :show_story => true %>
      <ol class="comments"></ol>
    </li>
  <% end %>
</ol>

<div class="morelink">
  <% if @comments.any? %>
    <% if @page && @page > 1 %>
      <%= link_to raw("&lt;&lt; Page #{@page - 1}"), { controller: controller_name, action: action_name, page: @page - 1 }.merge(@next_page_params || {}) %>
    <% end %>

    <% if @page && @page > 1 %>
      |
    <% end %>
    <%= link_to raw("Page #{@page + 1} &gt;&gt;"), { controller: controller_name, action: action_name, page: @page + 1 }.merge(@next_page_params || {}) %>
  <% end %>
</div>
