<%= render partial: 'users/flag_warning' if @show_flag_warning && @showing_user == @user %>

<% @threads.each do |thread| %>
<ol class="comments comments1">
  <% comments_by_parent = thread.group_by(&:parent_comment_id) %>
  <% subtree = comments_by_parent[nil] %>
  <% ancestors = [] %>

  <% while subtree %>
    <% if (comment = subtree.shift) %>
      <li class="comments_subtree">

      <% children = comments_by_parent[comment.id] %>
      <%= render "comments/comment", :comment => comment,
        :show_story => ancestors.empty?,
        :show_tree_lines => true,
        :children => children %>

      <% if ancestors.present? %>
        <div class="comment_siblings_tree_line"></div>
      <% end %>

      <% if children %>
        <% ancestors << subtree %>
        <% subtree = children %>
        <ol class="comments">
      <% else %>
        <ol class="comments"></ol></li>
      <% end %>
    <% elsif (subtree = ancestors.pop) %>
      </ol></li>
    <% end %>
  <% end %>
</ol>
<% end %>
