<div class="box wide">
  <div class="legend">
    Create an Account
  </div>

  <p>
  Signup is currently by invitation only to combat spam and increase
  accountability.  If you know <a href="/u/">a current user</a> of the site,
  ask them for an invitation.
  </p>
</div>
