<% if user.wearable_hats.any? %>
  <div class="boxline">
    <%= label :message, :hat_id, 'Put on hat:' %>
    <%= select :message, :hat_id, options_for_select( [['','']] +
      user.hats.map do |h|
        [h.hat, { 'data-modnote' => h.modlog_use }, h.id]
      end
    ) %>
  </div>
<% end %>
