<section class="messages box wide">
  <% @conversation.messages.each do |message| %>
      <header class="meta">
        <div class="author"><%= message.author.username %></div>
        <time
          datetime="<%= l(message.created_at, format: :datetime) %>"
          class="timestamp"
        >
          <%= l(message.created_at, format: :short) %>
        </time>
      </header>
      <div class="body"><%= message.body %></div>
  <% end %>
</section>
