<%= render partial: 'subnav', locals: { periods: @periods } %>

<% if @comments.present? %>
  <div id="story_comments">
    <ol class="comments comments1">
      <% @comments.each do |comment| %>
        <li class="comments_subtree">
        <%= render "comments/comment", :comment => comment, :show_story => true, force_open: true %>
        </li>
      <% end %>
    </ol>
  </div>
<% else %>
  <div class="nominal">🦞</div>
<% end %>
