<%= render partial: 'nav' %>

<% if @stories.present? %>
  <ol class="stories list <%= @cur_url == "/hidden" ? "show_hidden" : "" %>">
    <%= render :partial => "stories/listdetail",
              :collection => @stories,
              :as => :story %>
  </ol>
<% else %>
  <div class="nominal">🦞</div>
<% end %>
