<%= render partial: 'subnav', locals: { periods: @periods } %>


<div class="box wide modmodlog">
  <%= render partial: 'moderations/table', locals: { moderations: @moderations } %>
</div>

<div class="box wide modmodlog">
  <p>Also: <a href="/jobs">jobs dashboard</a>.
</div>
