<%= render partial: 'nav' %>

<div class="box wide">
  <div class="legend">
    <%= t('mod.index.legend')%>
  </div>
</div>

<div class="box wide modmodlog">
  <%= render partial: 'moderations/table', locals: { moderations: @moderations } %>
</div>
