version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2 

jobs:
  build:
    docker:
      - image: circleci/ruby:2.7.0-stretch-node
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: Which bundler?
          environment:
            BUNDLE_PATH: vendor/bundle
          command: bundle -v
      - ruby/bundle-install
