<div class="box wide">
  <p>
  <strong><%= @title %> (<%= @user_count %>)</strong>
  </p>

  <ul class="user_tree">
  <% @users.each do |user| %>
    <li>
      <%= styled_user_link(user) %>
      <%= user_karma(user) %>
    </li>
  <% end %>
  </ul>
</div>
