<div class="box wide">
  <p>
    If this user used to exist, they changed their username.
    Check the <a href="/moderations?moderator=%28Users%29&what%5Busers%5D=users">moderation log</a>.
  </p>
</div>
