<div class="box wide">
  <div class="legend"><%= t('users.not.legend')%></div>

  <p>
  <%= t('users.not.p1')%>
    <a href="/moderations?moderator=%28Users%29&what%5Busers%5D=users">
    <%= t('users.not.p2')%></a>.
  </p>
</div>
