<div class="box wide">
  <strong>User Tree</strong>
  <p>
  <% prev_level = 0 %>
  <% @tree.each do |u| %>
    <% if u[:level] > prev_level %>
      <ul class="user_tree">
    <% elsif u[:level] < prev_level %>
      <% (prev_level - u[:level]).times do %>
        </ul>
      <% end %>
    <% end %>

    <li><a href="/u/<%= u[:username] %>"><%= u[:username] %></a>
      (<%= u[:karma] %>)

    <% prev_level = u[:level] %>
  <% end %>
  <% prev_level.times do %>
    </ul>
  <% end %>
</div>
