li .link a {
  font-size: 1.35em;
  color: #003f1e;
}

li.story div.details span.link a:visited {
  color: #003f1e; 
}

li .byline a {
    color: #00a54d;
}

#headerright .headerlinks a {
    color: #00a54d;
}

#header a.cur_url {
 color: #00a54f;
 font-size: 1.44em; 
}

body {
    background-image: url("/white_wall_hash.png");
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
}

.wrapper {
  margin-top: 0px;
}