/* light mode */
:root {
	--color-lobsters-fg-has-suggestions: #bd6060;

	--color-lobsters-tag-special-bg: #f9ddde;
	--color-lobsters-tag-special-border: #f0b2b8;

	--color-lobsters-hat-sysop-crown-fill: #ddc7c7;
	--color-lobsters-hat-sysop-brim-stroke: #bbb2b2;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--color-lobsters-fg-has-suggestions: #df7171;

		--color-lobsters-tag-special-bg: #3b1719;
		--color-lobsters-tag-special-border: #611a21;

		--color-lobsters-hat-sysop-crown-fill: #271d1d;
		--color-lobsters-hat-sysop-brim-stroke: #4e3939;
	}
}

li .byline a.story_has_suggestions {
	color: var(--color-lobsters-fg-has-suggestions);
}

a.tag_announce, a.tag_ask, a.tag_show, a.tag_interview {
	background-color: var(--color-lobsters-tag-special-bg);
	border-color: var(--color-lobsters-tag-special-border);
	color: var(--color-fg-67);
}

span.hat_openbsd_developer span.crown {
	font-family: comic sans ms, comic sans, comic neue, sans-serif;
	font-size: 7pt;
}

span.hat_sysop {
	border-color: var(--color-lobsters-hat-sysop-brim-stroke);
	color: var(--color-fg-67);
}
span.hat_sysop span.crown {
	background-color: var(--color-lobsters-hat-sysop-crown-fill);
}

#l_holder {
	position: relative;
}
#l_holder:after {
	content: '';
	background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAL0ALQAtZF7+HAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wCCBAuLt2rqugAAACMSURBVDjL1ZMxCsJQEERfRPEk9im9mGfxBpaCnaXmBraeQEidKsKz2eIb/peEIOLAwu4Ws7PMbsUAKlOwYCaWmd4aWCV1B4yXpR59R61SitwKDdBHfgPaSTsF8zOmHz5NLykAeCRqvuvCfxGcgP0YF3ZqHy7c1Yt6jfo8dCF3idvkQjcRRVQ/f6bZBC+RBoeZnlCyqwAAAABJRU5ErkJggg==) no-repeat center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@media
only screen and (min-resolution: 2dppx),
only screen and (-webkit-min-device-pixel-ratio: 2) {
	#l_holder {
		background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AsLFB03Jr/FjQAAAVZJREFUWMPtlr1KQ0EQhc+ZdZMQEkQlNopKENu8gLWVvkQa8QHs8wQ+h4UPYG+fTpsQEATJhYtFrkKy2btrFYuwV/Kv6D2w1QzLNzPLngFy/XcxK9DpdAr1er05zSXOuUet9cM8ABtZgVKpVAZwDeCAZDDPe58CeCV5B2C5AFprQzICsE9mNsoBiAF0VzajOI4raZre+wk55977/f72Wh7KaDS6CgA8L+NumZYh9ATWCbAy5QA5wN8GMMY0jDGNHwEYDofHSqm2Uqrd6/XKawdQSt2QFJJSrVZPZjajBb/uUxG5GJuYiFRW0YGgRSZJsiMitxPjeFm0A6EKdq215wA+ABRIbgI4AnBJco8kvPcgiSRJopnLa7VaHAwGh9baszRNnwJumHkmctxcK1kURVu1Wu3tKzGwlHifbYjjfO+9FRE98wiKxaL/ZhPKhAqoi1y5cv1mfQLQB8QlNdQ0/wAAAABJRU5ErkJggg==) no-repeat;
		background-size: 16px;
		background-position: 1px 1px;
	}
}
