<%# locals: (categories:) -%>
<div class="box">
  Stories with <a href="/tags">tags</a> in the
  <% categories.each do |c| %>
    <%= link_to c.category, category_path(c) %>
  <% end %>
  <%= "category".pluralize(categories) %>

  <%= render(partial: 'categories/multi_category_tip') if categories.length == 1 %>
</div>
