<div class="box wide">
  <div class="legend">
    Lobsters Chat
  </div>

  <div class="story_text">
  <p>
  An official real-time discussion channel is available to members and guests
  of the site, hosted on the
  <a href="http://www.freenode.net" rel="nofollow">Freenode IRC network</a>
  in <tt>#lobsters</tt>.  This channel was originally
  <a href="/s/2hdoop">created</a>
  by
  <a href="/u/kristof">@kristof</a>.
  <a href="/u/pushcx">@pushcx</a>,
  <a href="/u/355e3b">@355e3b</a> (<tt>c355e3b</tt> on IRC), and
  <a href="/u/aleph-">@aleph-</a> (<tt>Church-</tt> on IRC) are channel operators.
  </p>

  <p>
  The policies and ideals of the discussion channel are the same as the
  website; quality content and conversing, respect for other users, and no
  spamming.  Slightly off-topic discussion is generally acceptable.  The
  channel isn't busy enough that there's always someone talking, so don't be
  surprised if you try to start a conversation and no one responds.  Leave it
  open and you'll see activity, though we're most active during US work hours.
  </p>

  <p>
  New contributors are always welcome on Lobsters. If you are the author or
  otherwise involved with a story that was submitted to the site, ask and
  someone will invite you. If not, offer some good links or thoughts on a
  story and someone will likely invite you so can post them. Alternatively,
  share a link to your homepage or public profile (GitHub, Twitter, YC News,
  and LinkedIn are popular choices) so people can see you're not a spammer.
  </p>

  <p>
  Lurking in the channel is a bot called "<tt>mockturtle</tt>" created and
  maintained by <a href="/u/alynpost">@alynpost</a>.
  It announces new stories submitted to the site and provides other useful
  features like showing the page title of URLs mentioned in the channel.
  </p>

  <p>
  To participate in the discussion, join the
  <a href="irc://irc.freenode.net/lobsters"><tt>#lobsters</tt></a> channel on
  <tt>irc.freenode.net</tt> with an IRC client.
  </p>

  <p>
  If you'd like a cloak to note that you've contributed to
  <a href="https://github.com/lobsters/lobsters">Lobsters development</a>
  or just for privacy as a regular user, contact a channel operator for a
  <tt>lobsters/developer/username</tt> or <tt>lobsters/user/username</tt>
  cloak.
  </p>

  <p>
  For a feed of stories without discussion, <tt>mockturtle</tt> also posts new
  stories in <a
  href="irc://irc.freenode.net/lobsters-feed"><tt>#lobsters-feed</tt></a>
  on the same network.
  </p>

  <p>
  Occasionally off-topic discussion (<em>especially American politics</em>)
  spills over into <a href="irc://irc.freenode.net/lobsters-boil">#lobsters-boil</a>.
  </p>

  </div>
</div>
