<div class="box wide">
  <div class="legend">
    Lobsters Chat
  </div>

  <div class="story_text">
  <p>
  An official real-time discussion channel is available to members and guests
  of the site, hosted on the
  <a href="http://www.freenode.net">freenode IRC network</a>
  in <tt>#lobsters</tt>.  This channel was originally
  <a href="/s/2hdoop">created</a>
  by
  <a href="/u/kristof">@kristof</a>.
  <a href="/u/pushcx">@pushcx</a>,
  <a href="/u/355e3b">@355e3b</a> (<tt>c355e3b</tt> on IRC), and
  <a href="/u/aleph">@aleph</a> (<tt>Church-</tt> on IRC) are channel operators.
  </p>

  <p>
  The policies and ideals of the discussion channel are the same as the
  website; quality content and conversing, respect for other users, and no
  spamming.  Slightly off-topic discussion is generally acceptable.  The
  channel isn't busy enough that there's always someone talking, so don't be
  surprised if you try to start a conversation and no one responds.  Leave it
  open and you'll see activity, though we're most active during US work hours.
  </p>

  <p>
  New contributors are always welcome on Lobsters.
  If you are the author of or otherwise involved with a story that was submitted to the site, ask and someone can send you an invite.
  We've unfortunately had problems with impersonation, so it helps a lot if you point out how your email address is linked to the story.
  </p>

  <p>
  Otherwise, you're welcome to join the community in the chat room.
  Invites are not automatically extended, but typically someone will once they get to know you in chat.
  They'll likely ask you for a link to your homepage or a public profile to feel confident that you're not a spammer.
  </p>

  <p>
  Lurking in the channel is a bot called <a href="https://github.com/lobsters/mockturtle">mockturtle</a>
  created and maintained by <a href="/u/alynpost">@alynpost</a>.
  It announces new stories submitted to the site and provides other useful
  features like showing the page title of URLs mentioned in the channel.
  </p>

  <p>
  To participate in the discussion, join the
  <a href="irc://irc.freenode.net/lobsters"><tt>#lobsters</tt></a> channel on
  <tt>irc.freenode.net</tt> with an IRC client.
  </p>

  <p>
  If you'd like a cloak to note that you've contributed to
  <a href="https://github.com/lobsters/lobsters">Lobsters development</a>
  or just for privacy as a regular user, contact a channel operator for a
  <tt>lobsters/developer/username</tt> or <tt>lobsters/user/username</tt>
  cloak.
  </p>

  <p>
  For a feed of stories without discussion, <tt>mockturtle</tt> also posts new
  stories in <a
  href="irc://irc.freenode.net/lobsters-feed"><tt>#lobsters-feed</tt></a>
  on the same network.
  </p>

  <p>
  Lobsters used to have an channel called <tt>#lobsters-boil</tt> for off-topic conversations (especially American politics) that "boiled over" from the main channel.
  It was useful in the wake of some big events, but the mods <a href="https://en.wikipedia.org/wiki/Abilene_paradox">didn't want to run it indefinitely</a>.
  Community members independently run ##crustaceans and ##hommers on Freenode subject to their own policies, if you're looking for off-topic discussion.
  </p>

  </div>
</div>
