<div class="box wide">
  <div class="legend">
    Privacy Policy
  </div>

  <p>
  This is the Internet, you have no privacy.
  </p>

  <p>
  (Unless you are <a href="https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act">under 13</a>, in which case you are not allowed here.)
  </p>
</div>
