<% content_for :subnav do %>
  <a href="/settings">Back to Settings</a>
<% end %>

<%= form_with url: twofa_update_url do |f| %>
  <p>
  To enable Two-Factor Authentication on your account using your new TOTP
  secret, enter the six-digit code from your TOTP application:
  </p>

  <div class="labelled_grid">
    <%= f.label :totp_code, "TOTP Code" %>
    <%= f.text_field :totp_code,
      required: true,
      inputmode: "numeric",
      pattern: "[0-9]+",
      autocomplete: "one-time-code",
      autofocus: true,
      class: "totp_code" %>
  </div>
  <%= f.submit "Verify and Enable" %>
<% end %>
