# See README.md for instructions.

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: "secret"

diffbot:
  api_key: null

github:
  client_id: null
  client_secret: null

keybase:
  domain: null
  base_url: "https://keybase.io"

mastodon:
# mastodon bot posting setup (not needed for account linking)
# 1. visit instance to register your desired username
# 2. run `rails credentials:edit` to enter instance name and username
  instance_name: "mastodon.social"
  bot_name: "lobsters"
# 3. run Mastodon.get_bot_credentials! in the prod rails console for these three values
  client_id: null
  client_secret: null
  token: null
# 4. create a list in the web ui, see the ID in the URL when you edit
  list_id: null

pushover:
  api_token: null
  subscription_code: null
