---
trilogy: &trilogy
  adapter: trilogy
  encoding: utf8mb4
  host: 127.0.0.1
  port: 3306
  pool: 5

sqlite3: &sqlite3
  adapter: sqlite3
  timeout: 1000

development:
  primary:
    <<: *trilogy
    database: lobsters_development
    username: 
    password: 
  cache:
    <<: *sqlite3
    database: db/development/cache.sqlite3
    migrations_paths: db/development/cache_migrate
  errors:
    <<: *sqlite3
    database: db/development/errors.sqlite3
    migrations_paths: db/development/errors_migrate
  queue:
    <<: *sqlite3
    database: db/development/queue.sqlite3
    migrations_paths: db/development/queue_migrate

test:
  primary:
    <<: *trilogy
    database: lobsters_test
  cache:
    <<: *sqlite3
    database: db/test/cache.sqlite3
    migrations_paths: db/test/cache_migrate
  errors:
    <<: *sqlite3
    database: db/test/errors.sqlite3
    migrations_paths: db/test/errors_migrate
  queue:
    <<: *sqlite3
    database: db/test/queue.sqlite3
    migrations_paths: db/test/queue_migrate

production:
  primary:
    <<: *trilogy
    database: lobsters
  cache:
    <<: *sqlite3
    database: /home/deploy/lobsters/shared/storage/cache.sqlite3
    migrations_paths: db/cache_migrate
  errors:
    <<: *sqlite3
    database: /home/deploy/lobsters/shared/storage/errors.sqlite3
    migrations_paths: db/errors_migrate
  queue:
    <<: *sqlite3
    database: /home/deploy/lobsters/shared/storage/queue.sqlite3
    migrations_paths: db/queue_migrate
