---
development:
  primary: &local
    adapter: trilogy
    host: 127.0.0.1
    port: 3306
    database: lobsters_dev
    username: root
    password: localdev
  cache:
    database: storage/development_cache.sqlite3
    migrations_paths: db/cache_migrate
    adapter: sqlite3
    pool: 5
    timeout: 5000

test:
  <<: *local
  database: lobsters_test

production:
  cache:
    database: storage/development_cache.sqlite3
    migrations_paths: db/cache_migrate
    adapter: sqlite3
    pool: 5
    timeout: 5000