---
trilogy: &trilogy
  adapter: trilogy
  encoding: utf8mb4
  host: 127.0.0.1
  port: 3306
  pool: 5

sqlite3: &sqlite3
  adapter: sqlite3
  timeout: 5000

development:
  primary:
    <<: *trilogy
    database: lobsters_dev
    username: root
    password: localdev
  cache:
    <<: *sqlite3
    database: tmp/cache/cache.sqlite3
    migrations_paths: db/cache_migrate
  queue:
    <<: *sqlite3
    database: tmp/queue/queue.sqlite3
    migrations_paths: db/queue_migrate

test:
  <<: *trilogy
  database: lobsters_test
  username: root
  password: localdev

production:
  primary:
    <<: *trilogy
    database: lobsters
  cache:
    <<: *sqlite3
    database: /srv/lobste.rs/cache/cache.sqlite3
    migrations_paths: db/cache_migrate
  queue:
    <<: *sqlite3
    database: /srv/lobste.rs/queue/queue.sqlite3
    migrations_paths: db/queue_migrate
