production:
  clear_finished_jobs:
    command: SolidQueue::Job.clear_finished_in_batches
    schedule: every day at 3:00am
  expire_old_ribbons:
    command: ReadRibbon.expire_old_ribbons!
    schedule: every day at 4:00am
  fill_flagged_cache:
    command: FlaggedCommenters.new("1m").commenters
    schedule: every 15 minutes
  populate_comment_stats:
    command: CommentStat.daily_fill!
    schedule: every day at 4:00am
  restic:
    command: ResticJob
    schedule: every day at 1 am
  sitemap:
    command: 'SitemapGenerator::Interpreter.run(config_file: ENV["CONFIG_FILE"], verbose: false)'
    schedule: every day at 2 am
  stats_graphs:
    class: StatsGraphsJob
    schedule: every day at 12:00am
  traffic_helper:
    command: TrafficHelper.cache_traffic!
    schedule: every 5 minutes
  fetch_email_blocklist:
    command: FetchEmailBlocklistJob
    schedule: every 7 days
  fetch_iana_tlds:
    class: FetchIanaTldsJob
    schedule: every 1 month

development:
  clear_finished_jobs:
    command: SolidQueue::Job.clear_finished_in_batches
    schedule: every day at 3:00am
  expire_old_ribbons:
    command: ReadRibbon.expire_old_ribbons!
    schedule: every day at 4:00am
  populate_comment_stats:
    command: CommentStat.daily_fill!
    schedule: every day at 4:00am
  stats_graphs:
    class: StatsGraphsJob
    schedule: every day at 12:00am
  fetch_email_blocklist:
    command: FetchEmailBlocklistJob
    schedule: every 7 days
  fetch_iana_tlds:
    class: FetchIanaTldsJob
    schedule: every 1 month