<%# locals: (story:, moderation: nil) -%>
<div class="box"><p>
  <% if story.is_moderated? %>
    <% if !@user %>
      Story was removed by a moderator.
    <% elsif moderation %>
      Story removed by a moderator: <%= moderation.reason %>
    <% else %>
      Story removed by a moderator but no log message was found.
      Please report this bug.
    <% end %>

    <p>
      (Logged-out visitors only see "Story was removed" because we don't want to give trolls a convenient public monument to content that was so bad or bizarre we removed it.)
    </p>
  <% else %>
    Story was removed by submitter<% if @user %> <%= link_to story.user.username, user_path(story.user) %><% end %>.
  <% end %>
</p></div>
