<% locales = { :f => f } %>
<%= render :partial => 'stories/error', :locals => locales %>

<div class="box">
  <%= render :partial => 'stories/title', :locals => locales %>

  <%= render :partial => 'stories/tags', :locals => locales %>
</div>
