<div class="youtube_embed">
  <iframe src="https://www.youtube.com/embed/<%= video_id %>?mute=1"
          title="YouTube video"
          frameborder="0"
          allowfullscreen
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
  </iframe>
</div>
