<div class="box" id="story_box">
	<div class="legend">
		Submit a Story
	</div>

	<%= form_for @story do |f| %>
		<%= render :partial => "stories/form", :locals => { :story => @story,
      :f => f } %>

    <p></p>

    <div class="box">
      <div class="boxline markdown_help_toggler">
        <div class="markdown_help_label">
          <span class="fakea">Markdown formatting available</span>
        </div>

        <%= submit_tag "Submit" %>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>
	<% end %>
</div>
