<ol class="stories">
  <%= render :partial => "stories/listdetail",
    :locals => { :story => @story, :single_story => true } %>
</ol>

<div class="story_content">
  <% if @story.markeddown_description.present? %>
    <div class="story_text">
      <%= raw @story.markeddown_description %>
    </div>
  <% end %>
</div>

<ol class="comments comments1">
  <% if @user && !@story.is_gone? && !@story.previewing %>
    <%= render "comments/commentbox", :comment => @comment %>
  <% end %>

  <% comments_by_parent = @comments.group_by(&:parent_comment_id) %>
  <% subtree = comments_by_parent[nil] %>
  <% ancestors = [] %>

  <% while subtree %>
    <% if (comment = subtree.shift) %>
      <%= render "comments/comment", :comment => comment %>

      <% if (children = comments_by_parent[comment.id]) %>
        <% ancestors << subtree %>
        <% subtree = children %>
        <ol class="comments">
      <% else %>
        <ol class="comments"></ol>
      <% end %>
    <% elsif (subtree = ancestors.pop) %>
      </ol>
    <% end %>
  <% end %>
</ol>
