<div class="box wide">
  <div class="legend">
    <%= t('tags.edit.legend')%>
  </div>

  <div class="boxline">
    <%= link_to t('tags.edit.legend') "#{@tag.tag}", tag_path(@tag) %>
  </div>

  <%= render partial: 'form' %>
</div>
