<%= @comment.user.username %> has replied to <%= @replied_to %>:

  <%= word_wrap(@comment.plaintext_comment, :line_width => 72).gsub(/\n/, "\n  ") %>

Continue this discussion at <%= @comment.url %>

<p>
Also, you can reply to this email to join the discussion.
</p>
