<div class="box wide">
  <div class="legend">
    Reset Password
  </div>

  <p>
  If you've forgotten your password, enter your e-mail address or username
  below and instructions will be e-mailed to you.
  </p>

  <%= form_tag reset_password_path do %>
    <%= label_tag :email, "E-mail or Username:" %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag "Reset Password" %>
    </p>
  <% end %>
</div>
