<div class="box wide">
  <div class="legend">
    Reset Password
  </div>

  <p>
  If you've forgotten your password, enter your e-mail address or username
  below and instructions will be e-mailed to you.
  </p>

  <%= form_with url: reset_password_path do |f| %>
    <%= f.label :email, "E-mail or Username:" %>
    <%= f.text_field :email, :size => 30 %>
    <br />

    <p>
    <%= f.submit "Reset Password" %>
    </p>
  <% end %>
</div>
