<link rel="prefetch" href="<%= path_to_javascript 'application' %>" as="script" />

<div class="box wide">
  <% if Rails.application.read_only? %>
    <p>
    The site is currently in read-only mode for maintenance.
    </p>
  <% else %>
    <a class="button" href="/login/aqora_auth">Login with Aqora</a>
  <% end %>
</div>
