<%= form_with url: twofa_login_url do |f| %>
  <p>
  Enter the current TOTP code from your TOTP application:
  </p>

  <div class="labelled_grid">
    <%= f.label :totp_code, "TOTP Code" %>
    <%= f.text_field :totp_code,
      :inputmode => "numeric",
      :pattern => "[0-9]+",
      :autocomplete => "one-time-code",
      :autofocus => true,
      :class => "totp_code" %>
  </div>

  <%= f.submit "Login" %>
<% end %>

