<div class="box wide">
  <div class="legend">
    Login - Two Factor Authentication
  </div>

  <%= form_with url: twofa_login_url do |f| %>
    <p>
    Enter the current TOTP code from your TOTP application:
    </p>

    <p>
    <%= f.label :totp_code, "TOTP Code:" %>
    <%= f.number_field :totp_code, :size => 10, :autocomplete => "off",
        :autofocus => true, :class => "totp_code" %>
    <br />
    </p>

    <p>
    <%= f.submit "Login" %>
    </p>
  <% end %>
</div>

