<% render partial: 'about/subnav' %>

<div class="box wide">
  <div class="story_text">
  <p>
  <a href="https://aqora.io">aqora</a> is a quantum-focused community centered around collaboration, research, development, and discussion. Our mission is to accelerate the advancement of quantum computing, and related technologies by fostering a vibrant community of enthusiasts, researchers, and professionals.
  </p>

  <ul>
    <li>a <a href="#tagging">tagging</a> system to organize and categorize quantum-related content,</li>
    <li>a platform for <a href="https://app.aqora.io">quantum challenges</a> to stimulate innovation and problem-solving,</li>
    <li>and <a href="/">community-driven features</a> that evolve with the needs of our members.</li>
  </ul>

  <h2 id="tagging">Tags and Organization</h2>
  <p>
  aqora uses a comprehensive tagging system for submissions, allowing users to filter and engage with content that aligns with their specific interests in quantum technologies. This system helps keep the platform organized and ensures easy access to relevant and up-to-date information in this rapidly evolving field.
  </p>

  <h2 id="challenges">Quantum Challenges</h2>
  <p>
  We host and promote a variety of quantum challenges. These challenges range from quantum algorithm development to solving complex problems using quantum computing techniques, offering both beginners and experts an opportunity to learn, compete, and innovate.
  </p>

  <h2 id="collaboration">Open Collaboration</h2>
  <p>
  Collaboration is at the heart of aqora. We encourage open discussions, collaborative projects, and knowledge sharing. Our platform serves as a bridge between academia, industry, and hobbyists, fostering an environment where ideas and innovations can flourish.
  </p>

  <h2 id="community">Community-Driven Features</h2>
  <p>
  aqora is shaped by its community. We regularly update our features based on feedback and suggestions from our members. From forums and chat rooms to collaborative tools and resources, aqora is designed to be a dynamic and inclusive platform for everyone interested in quantum technologies.
  </p>

  <p>
  We invite you to join aqora – whether to learn, share, collaborate, or contribute to the exciting field of quantum technologies. Together, we can push the boundaries of what's possible and drive the future of quantum computing and research.
  </p>
  </div>
</div>
