<% render partial: 'about/subnav' %>

<div class="box wide">
  <div class="story_text">
  <p>
  An official real-time discussion channel is available to members and guests
  of the site, hosted on the
  <a href="https://libera.chat">Libera.Chat</a> IRC network
  in <tt>#lobsters</tt>.
  This channel was originally
  <a href="/s/2hdoop">created</a> by
  <a href="/~kristof">kristof</a> on freenode, and
  <a href="https://lobste.rs/s/1z77ly/libera_chat#c_vwmpgx">stayed with the network</a> on 2021-05-19 after that domain was lost.
  The channel operators are (IRC nicks in parentheses):
  <a href="/~pushcx">pushcx</a> (<tt>pushcx</tt>),
  <a href="/~Irene">Irene</a> (<tt>Irenes</tt>),
  <a href="/~355e3b">355e3b</a> (<tt>c355e3b</tt>),
  <a href="/~aleph">aleph</a> (<tt>Church</tt>),
  <a href="/~c-cube">c-cube</a> (<tt>companion_cube</tt>),
  and
  <a href="/~eBPF">eBPF</a> (<tt>d76d5</tt>).
  </p>

  <p>
  To participate in the discussion, join the
  <a href="ircs://irc.libera.chat/lobsters"><tt>#lobsters</tt></a> channel on
  <tt>irc.libera.chat</tt> with an IRC client.
  </p>

  <p>
  The policies and ideals of the discussion channel are the same as the website; quality content and conversing, respect for other users, and no spamming.
  Slightly off-topic discussion is generally acceptable, but we're still not open to discussion of electoral politics and policies.
  The channel isn't busy enough that there's always someone talking, so don't be surprised if you try to start a conversation and no one responds.
  Leave it open and you'll see activity, though we're most active during US work hours.
  </p>

  <p>
  If you want an invite to the site, it's best to hang out and chat until people get to know you.
  They'll likely ask you for a link to your homepage or a public profile to feel confident that you're not a spammer.
  If you ask for an invite immediately on joining, expect people will be a lot more skeptical.
  </p>

  <p>
  If you are the author of or otherwise involved with a story that was submitted to the site, ask and someone can send you an invite.
  We've unfortunately had problems with impersonation, so it helps a lot if you point out how your email address is linked to the story.
  </p>

  <p>
  The channel has a bot named
  <a href="https://github.com/lobsters/lobstersbot">mockturtle</a>.
  It announces new stories submitted to the site and provides other useful features like showing the page title of URLs mentioned in the channel.
  </p>

  <p>
  If you'd like a cloak to note that you've contributed to
  <a href="https://github.com/lobsters/lobsters">Lobsters development</a>
  or just for privacy as a regular user, contact a channel operator for a
  <tt>lobsters/developer/username</tt> or <tt>lobsters/user/username</tt>
  cloak.
  </p>

  <p>
  For a feed of stories without discussion, <tt>mockturtle</tt> also posts new stories in <a href="ircs://irc.libera.chat/lobsters-feed"><tt>#lobsters-feed</tt></a>.
  </p>

  <p>
  Lobsters used to have a channel called <tt>#lobsters-boil</tt> for off-topic conversations (especially American politics) that "boiled over" from the main channel.
  It was useful in the wake of some big events, but the mods <a href="https://en.wikipedia.org/wiki/Abilene_paradox">didn't want to run it indefinitely</a>.
  Community members independently run ##crustaceans subject to their own policies, if you're looking for more off-topic discussion.
  </p>

  </div>
</div>
