<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table>
  <tr>
    <td width="125"><em>emphasized text</em></td>
    <td>surround text with <tt>*asterisks*</tt></td>
  </tr>
  <tr>
    <td><strong>strong text</strong></td>
    <td>surround text with <tt>**two asterisks**</tt></td>
  </tr>
  <tr>
    <td><strike>struck-through</strike></td>
    <td>surround text with <tt>~~two tilde characters~~</tt></td>
  </tr>
  <tr>
    <td><tt>fixed width</tt></td>
    <td>surround text with <tt>`backticks`</tt></td>
  </tr>
  <tr>
    <td><a href="http://example.com/"
      style="color: inherit;">linked text</a></td>
    <td><tt>[linked text](http://example.com/)</tt> or just a bare URL
      to create without a title</td>
  </tr>
  <tr>
    <td><blockquote> quoted text</blockquote></td>
    <td>prefix text with <tt>&gt;</tt></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;">pre
  text</pre></td>
    <td>prefix text with at least<tt>&nbsp;&nbsp;&nbsp;&nbsp;4 spaces</tt></td>
  </tr>
  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td>(inline image)</td>
      <td><tt>![alt text](http://example.com/image.jpg)</tt></td>
    </tr>
  <% end %>
  </table>
</div>
