/* dark color scheme */

:root {
	/* monochrome */
	--base-bg: 12 12 12;
	--base-fg: 255 255 255;

	--opacity-fg: 87%; /* primary text */
	--opacity-fg-contrast-13: 87%;
	--opacity-fg-contrast-10: 87%;
	--opacity-fg-contrast-7-5: 77%;
	--opacity-fg-contrast-6: 69%;
	--opacity-fg-contrast-5: 64%;
	--opacity-fg-contrast-4-5: 61%;

	--opacity-gradient-lit: 13%;
	--opacity-gradient-shadowed: 3%;

	--opacity-shadow-80: 80%;
	--opacity-shadow-25: 25%;
	--opacity-shadow-10: 10%;

	--opacity-deleted: 0.6;

	/* backgrounds and foregrounds */
	--color-bg-accent: rgb(253 78 72);
	--color-bg-target: rgb(61 53 11);

	--color-fg-link: rgb(138 177 255);
	--color-fg-link-visited: rgb(79 138 255);
	--color-fg-accent: rgb(207 54 49); /* red as in lobste.rs */
	--color-fg-negative: rgb(190 45 45); /* red as in warning */
	--color-fg-affirmative: rgb(42 180 42);
	--color-fg-author: rgb(80 112 177);
	--color-fg-shape: rgb(80 80 80);

	/* elements */
	--color-box-bg: #141414;
	--color-box-bg-shaded: #202020;
	--color-box-border: #303030;
	--color-box-border-focus: #808080;

	--color-button-bg: #181818;
	--color-button-bg-shaded: #242424;

	--color-table-header-bg: #262626;
	--color-table-header-border: #404040;
	--color-table-row-bg-even: #181818;
	--color-table-row-bg-odd: #1b1b1b;
	--color-table-row-border: #262626;

	--color-tag-bg: #3b320d;
	--color-tag-border: #665501;
	--color-tag-media-bg: #15293d;
	--color-tag-media-border: #214669;
	--color-tag-meta-bg: #2c2c2c;
	--color-tag-meta-border: #484848;

	--color-hat-crown-fill: #3b3b3b;
	--color-hat-crown-stroke: #202020;
	--color-hat-brim-stroke: #2a2a2a;

	--color-flash-bg-error: #451714;
	--color-flash-bg-success: #273820;
	--color-flash-bg-notice: #142e36;

	--color-lobsters-fg-has-suggestions: #df7171;

	--color-lobsters-tag-special-bg: #3b1719;
	--color-lobsters-tag-special-border: #611a21;

	--color-lobsters-hat-sysop-crown-fill: #3e2f2f;
	--color-lobsters-hat-sysop-brim-stroke: #2c2222;

	/* mobile */
	--color-mobile-story-liner-bg: #0c0c0c;
	--color-mobile-story-comments-bubble-fill: #282828;
	--color-mobile-story-comments-bubble-fill-zero: #1c1c1c;
}
