@media only screen and (max-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
	}

	body {
		margin: 0;
		padding: 0;
	}

	div#header,
	div#leader {
		margin: 0;
		padding: 8px 5px;
		background-color: #eee;
		border-bottom: 1px solid #ccc;
	}
	div#leader {
		padding: 8px;
	}

	div#wrapper {
		padding: 0;
		padding-bottom: 2em;
		margin: 0;
		min-width: 100%;
		max-width: 100%;
	}

	div#headerleft {
		display: inline;
		float: none;
	}
	div#headerright {
		display: inline;
		float: none;
		text-align: left;
		clear: both;
	}

	.headerlinks a,
	#headerright .headerlinks a {
		padding-right: 0.25em;
		padding-left: 0;
	}

	div#insidecontent {
		margin: 1em;
	}

	.box {
		margin: 0 8px;
	}

	div.legend {
		margin-top: 0.5em;
	}

	ol.comments {
		margin-left: 10px;
	}
	ol.comments1 {
		margin-left: 0;
		padding-left: 0;
	}

	div.voters {
		margin-left: 0.25em;
		margin-top: 0px;
		width: 31px;
	}
	div.voters a.upvoter {
		margin-top: -5px;
	}

	div.comment_form_container form {
		margin-left: 35px;
	}

	div.voters a.upvoter,
	div.voters a.downvoter {
		margin-left: 6px;
		border-width: 9px;
	}

	/* explicitly reset color when not upvoted, since previously-upvoted arrow
	 * will still be triggering :hover until next tap */
	div.voters .upvoter:hover {
		border-bottom-color: #bbb;
	}
	.upvoted div.voters .upvoter {
		border-bottom-color: #ff4202;
	}

	ol.stories.list {
		margin-top: 0;
	}

	ol.stories.list li.story {
		border-bottom: 1px solid #e0e0e0;
		display: table;
	}
	ol.stories.list li.story div.story_liner {
		background-color: #fbfbfb;
		display: table-cell;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
		width: 100%;
	}
	ol.stories.list li.story div.mobile_comments {
		background-color: #e8e8e8;
		display: table-cell !important;
		font-size: 11pt;
		min-width: 40px;
		text-align: center;
		vertical-align: middle;
	}
	ol.stories.list li.story div.mobile_comments a:before {
		border-style: solid;
		border-width: 0px 6px 3px 0px;
		border-color: #ccc;
		border-bottom-right-radius: 13px;
		bottom: -10px;
		content: "";
		display: block;
		height: 6px;
		left: 4px;
		position: absolute;
		width: 5px;
		z-index: 10;
	}
	ol.stories.list li.story div.mobile_comments a:after {
		border-bottom-right-radius: 10px;
		border-color: #ccc;
		border-style: solid;
		border-width: 0px 3px 3px 0px;
		bottom: -10px;
		content: "";
		display: block;
		height: 6px;
		left: 5px;
		position: absolute;
		width: 10px;
		z-index: 10;
	}
	ol.stories.list li.story div.mobile_comments a {
		background-color: #ccc;
		border: 1px solid #ccc;
		border-radius: 5px;
		color: #333;
		display: block;
		font-size: 9pt;
		margin: 0 0.5em;
		padding: 2px;
		position: relative;
		text-align: center;
		text-decoration: none;
	}
	ol.stories.list li.story div.mobile_comments a:active,
	ol.stories.list li.story div.mobile_comments a:focus {
		outline: 0;
	}
	ol.stories.list li.story div.mobile_comments.zero a {
		color: gray;
	}
	ol.stories.list li.story div.mobile_comments.zero a {
		background-color: #d8d8d8;
		color: #999;
	}
	ol.stories.list li.story div.mobile_comments.zero a,
	ol.stories.list li.story div.mobile_comments.zero a:before,
	ol.stories.list li.story div.mobile_comments.zero a:after {
		border-color: #d8d8d8;
	}
	ol.stories.list li.story span.comments_label {
		display: none;
	}


	li div.details,
	div.story_content {
		margin-left: 36px;
		margin-right: 20px;
	}
	ol.stories.list div.story_content {
		margin-right: 0;
	}
	div.morelink {
		margin-left: 36px;
		float: none;
	}
	li.story div.byline {
		font-size: 10pt;
	}

	div.box label,
	div.boxline label {
		display: block;
		width: 100% !important;
	}
	div.box div.d,
	div.box.wide div.d {
		margin-left: 0;
	}

	div.boxline textarea,
	div.boxline input[type="text"],
	div.comment textarea {
		max-width: 90%;
	}

	div.markdown_help_label {
		display: none;
	}
	div.markdown_help_label_mobile {
		display: inline !important;
		margin-right: 2em;
	}

	div#story_box input,
	div#story_box button,
	div#story_box textarea,
	div#story_box #story_tags_a,
	div.actions {
		margin: 0 !important;
		width: 100% !important;
	}

	div#story_box #story_tags_a {
		min-width: 305px !important;
	}

	div#gravatar {
		float: none;
	}

	div#user_about {
		margin-left: 0;
	}

	div#footer {
		text-align: center;
		float: none;
	}
}
