<div class="box" id="story_box">
  <div id="story_holder">
    <%= form_with model: @story, url: story_suggestions_path(@story.short_id), method: :post, html: { id: 'edit_story' } do |f| %>
      <%= render :partial => "stories/form", :locals => { :story => @story,
        :f => f, :suggesting => true } %>

      <p></p>

      <div class="box">
        <div class="boxline actions">
          <%= f.submit "Suggest Changes" %>
          &nbsp;or <a href="<%= story_path(@story.short_id) %>">cancel</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

