name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUBYOPT: "--yjit --enable-frozen-string-literal --debug-frozen-string-literal"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    services:
      mariadb:
        image: mariadb:10.11.11
        env:
          MARIADB_ROOT_PASSWORD: root
          MARIADB_DATABASE: lobsters_dev
        ports:
          - 3306:3306

    env:
      DATABASE_URL: trilogy://root:root@127.0.0.1/lobsters_dev
      RAILS_ENV: test

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install libvips dependency
        run: |
          sudo apt update
          sudo apt install -y libvips

      - name: Workaround for inability to templatize credentials (#1380)
        run: cp .github/workflows/check/* config/

      - name: Load database schema
        run: ./bin/rails db:schema:load db:migrate

      - name: Run tests
        run: |
          bundle exec rspec
          bundle exec rspec spec/slow/*_spec.rb

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run linters
        run: |
          bundle exec standardrb

  security:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run brakeman
        run: |
          bundle exec brakeman --ensure-ignore-notes

  leak-check:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Find leaky gems
        run: |
          gem install bundler-leak
          bundle leak update
          bundle leak check

  database-consistency:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    # DB setup (`services` and `env`) copied from `test` job above
    services:
      mariadb:
        image: mariadb:10.11.11
        env:
          MARIADB_ROOT_PASSWORD: root
          MARIADB_DATABASE: lobsters_dev
        ports:
          - 3306:3306

    env:
      DATABASE_URL: trilogy://root:root@127.0.0.1/lobsters_dev
      RAILS_ENV: test
      RUBY_YJIT_ENABLE: "1"

    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      # The next three steps also copied from `test` job above
      - name: Install libvips dependency
        run: |
          sudo apt update
          sudo apt install -y libvips

      - name: Workaround for inability to templatize credentials (#1380)
        run: cp .github/workflows/check/* config/

      - name: Load database schema
        run: ./bin/rails db:schema:load db:migrate

      - name: Check consistency of DB and models
        run: |
          bundle exec database_consistency --config .database_consistency.temp.yml
