name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    env:
      DATABASE_URL: "sqlite3::///tmp/test.sqlite3"
      RAILS_ENV: test
      RUBY_YJIT_ENABLE: "1"

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Workaround for inability to templatize credentials (#1380)
        run: cp .github/workflows/check/* config/

      - name: Load database schema
        run: ./bin/rails db:schema:load db:migrate

      - name: Run tests
        run: |
          bundle exec rspec
          bundle exec rspec spec/slow/*_spec.rb
        env:
          # Enabling frozen string literals in rspec only because brakeman
          # isn't compatible yet: https://github.com/presidentbeef/brakeman/pull/1855
          RUBYOPT: "--enable-frozen-string-literal --debug-frozen-string-literal"

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run linters
        run: |
          bundle exec standardrb

  security:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run brakeman
        run: |
          bundle exec brakeman --ensure-latest --ensure-ignore-notes

  leak-check:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Find leaky gems
        run: |
          gem install bundler-leak
          bundle leak update
          bundle leak check
